.u-section-1 {
  background-image: url("images/0a441beb30835849b7e99619ef6675a43f942289f0283d16056628f7771c47c6bc9bdbfc8715bc8f9045fd8e86cdcf4569c14dd2c1d4df592af830_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 710px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 258px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 35px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 585px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 448px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 336px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 690px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    width: auto;
    margin-left: -26px;
    margin-right: -26px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 111px;
  }
}